
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

body{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    background: #e4e8ff;
    color: #0f141e;
    line-height: 1.5;
}

.info-text h1{
    color: darkred;
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 650px){
    .container{
        width: 100%;
        max-width: 650px;
    }
    .hypeseries{
        align-items: center;
    }
    .hm {
        width: 100%; 
        margin: 0; 
    
    }
    .info-text{
        text-align: center;
        flex-direction: column;
    }
    }


.table td:nth-child(3) {
    color: darkred;
}

.table thead{
    padding: 10px;
    font-size: 20px;
}

.hypeseries{
display: flex;
justify-content: center;
}

.logo{
    width: 10%;
    margin-bottom: 0px;
}

.bbimg{
    border-radius: 15px;
    box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.4);
}

.table{
    background: #f3c774;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.tablediv{
    border-radius: 7px;
}

.hm{
    background: #bb9cfa;
    border-radius: 8px;
    width: 50%;
}



.hm h2{
    margin-left: 10px;
    margin-bottom: 5px;
}

.top1 p{
    color:#0f141e;
    background: #ede4ff;
    font-style: bold;
}

.bb{
    color: #25553f;
}

.bb:hover{
    color:orange;
}

.bb:visited{
    color: darkred
}

.form h2{
    text-align: center;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    font-family: inherit;
}

.form-row{
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group{
    width: 50%;
    margin-right: 20px;
}


.btn{
    color: white;
    background: #0f141e;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    font-family: inherit;
}

.btn:hover{
    color:orange;
    opacity: 0.8;
}

